SPRING_PROFILES_ACTIVE=azure
AZURE_DB_HOST=sst-epp-dev.postgres.database.azure.com
AZURE_DB_NAME=epp_db
AZURE_DB_USER=epp_admin
AZURE_DB_PASSWORD=TuPasswordSegura123!
AZURE_STORAGE_CONNECTION_STRING=tu_cadena_de_conexion_aqui